<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* Tailwind Css *@
    <link rel="stylesheet" href="/dist/output.css" />
    <link rel="stylesheet" href="HtmxTailwindGsapBlazor.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body hx-ext="loading-states,class-tools" >
     @****** Blazor ******@
    <Routes />
    <script src="_framework/blazor.web.js"></script>

     @****** Htmx Extensions ******@
    <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js" defer></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js" defer></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js" defer></script>

     @****** Bundled JavaScript ******@
    <script src="vite/main.js"></script>

     @****** Hooks ******@
    <script src="js/hooks.js"></script>
</body>

</html>

